header {
    background: maroon;
}
header::after {
    content: '';
    display: table;
    clear: both;
}
h2 {
    float: left;
    color: white;
    font-size: 10vh;
}

nav {
    float: right;
    display: block;
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    clear: white;
    font-size:larger;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    color: white;
    position: relative;
    font-size: larger;
    font-weight: bolder;
}

nav a {
    color: wheat;
    text-decoration: none;
    text-transform: uppercase;
    font-size: larger;
    font-weight: bolder;
}

nav a:hover{
    color: blue;
    font-size: larger;
    font-weight: bolder;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background: black;
    position:absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

body {
    font-family: "Amatic SC", sans-serif;
}

h1 {
    font-family: "Amatic SC", sans-serif;
    color: white;
    font-weight: 900;
    text-align: center;
    font-size:18vh;
}

h2{
    font-family: "Amatic SC", sans-serif;
}

h3 {
    font-family: "Amatic SC", sans-serif;
    text-align: center;
    color: white;
    font-size: 7vh; 
}

span {
    background-color: black;
}

.items {
        background-color: red;
        color: blanchedalmond;
}

.price {
        background-color: grey;
        color: maroon;
        text-align: right;
        font-size: 3vh;
}
.price-items{
        background-color: grey;
        color: maroon;
        text-align: right;
        font-weight: 700;
}

h4 {
    font-family: "Amatic SC", sans-serif;
    color: white;
    font-weight: 700;
    text-align: center;
    font-size:11vh;
}

h5 {
    font-family: "Amatic SC", sans-serif;
    color: black;
    font-weight: 500;
    text-align: center;
    font-size:5vh;
}

h6 {
    font-family: "Amatic SC", sans-serif;
    color: black;
    font-weight: 700;
    text-align: left;
    font-size:3vh;
}

.menu-items {
    font-family: "Amatic SC", sans-serif;
    color: black;
    font-weight: 500;
    text-align: left;
    font-size:2vh;
}

.bgImg1{
    background-image: url("../images/pizza-image3.jpg");
    background-repeat: no-repeat;
    /*background-attachment: fixed; */
    background-size: cover;
    height: 800px;
    background-position: center;
}

.logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

a {
    color:white;
}

.menu {
    background-color: black;
}

.about {
    background-color: #8b5f5c;
}